name : "CI Pipeline"
on:
  push:
    branches:
      - main
      - master
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5 

      - name: Setup ReactJs
        run : npm create vite@latest my-react-app 

      - name: Install Dependencies
        run  